body{
	margin: 0;
	padding: 0;
}
#load{
	display:none;
}
#header{
	margin: 50px auto;
	height: 219px;
	width: 646px;
	text-align: center;
}
#search, #error, #test, #load{
	width: 600px;
	text-align: center;
	margin: 0 auto;
}
#search input[type=text]{
	height: 40px;
	font-size: 2em;
	width: 600px;
	margin-top: 10px;
	color: #ccc;
}
#searchwrapper{
	width: 100%;
	background: #3b5998;
	height: 60px;
}
#test{
	padding: 20px;
}
#test img{
	margin: 5px;
}
