body{
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}
#load{
	display:none;
}
#header{
	margin: 50px auto;
	height: 219px;
	width: 646px;
	text-align: center;
	position: relative;
}
#search, #error, #imgs, #load{
	width: 600px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}
#search input[type=text]{
	height: 40px;
	font-size: 2em;
	width: 600px;
	margin-top: 10px;
	color: #ccc;
}
#searchwrapper{
	width: 100%;
	background: #3b5998;
	height: 60px;
}
.pic{
	display: none;
}
#imgs{
	padding: 20px;
}
#imgs img{
	margin: 5px;
}
#error {
	background: #ccc;
	color: #000;
	font-size: 1.1em;
	padding: 10px 0;
	width: 100%;
	display: none;
}
#load{
	padding-top: 20px;
}
#footer{
	margin: 20px auto;
	text-align: center;
	color: #777;
}
#footer a{
	color: #777;
}
#smalllogo{
	display: none;
	position: absolute;
	left: -200px;
	top: 15px;
	width: 88px;
	height: 30px;
}
.fb_button{
	position: absolute;
	right: 10px;
	top: 10px;
}
